@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/***
**** GENERAL SETTINGS
***/

:root {
  --background-color: #4c2f1b;  
  --secondary-color: #e8eadff6;
  --secondary-color-transparent: #fff9eba1;
  --accent-color: #055a05;
  --text-color-title: #fdfff4f6;
  --text-color: black; 

  --h1-size: 50px;
  --h3-size: 20px;
  --h4-size: 16px;
}

.App * {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 2% 5%;
  position: relative;
  background-color: var(--background-color);
}

.App::before {
  content: "";
  background-image: url(./img/loginview.jpg);
  background-size: cover;
  opacity: 0.55;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

h1 {
  position: relative;
  font-size: var(--h1-size);
  color: var(--text-color-title);
}

h3 {
  font-size: var(--h3-size);
  color: var(--text-color-title);
}

h4 {
  position: relative;
  font-size: var(--h4-size);
  color: var(--text-color-title);
}

p {
  margin: 5px 0;
}

.Alert {
  position: relative !important;
  top: 0px !important;
  font-weight: bold;
  background-color: var(--secondary-color-transparent);
  width: fit-content;
  margin: auto;
  border-width: 3px;
  border-radius: 4px;
}

/***
**** WELCOME SCREEN in separate CSS file
***/

/***
**** APP 
***/

/* Logo */
img {
  position: relative;
}

/* CitySearch Component */

.city {
  width: 250px;
  background-color: var(--secondary-color);
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

ul {
  padding: 0;
  list-style: none;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--secondary-color);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

/* NumberOfEvents Component */

.NumberOfEvents {
  position: relative;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.number-of-events {
  background-color: var(--secondary-color);
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-top: 5px;
}

input[type="number"] {
  width: 150px;
}

/* EventGenre Component */

.data-vis-wrapper {
  display: flex;
  flex-direction: row;
}

.recharts-surface {
  overflow: visible;
}

.recharts-surface {
  background-color: var(--secondary-color-transparent);
}

line {
  stroke: var(--text-color);
}

.recharts-cartesian-axis-line {
  stroke: var(--text-color);
}

.recharts-symbols {
  fill: var(--accent-color);
}

tspan {
  font-weight: 700;
  color: var(--text-color);
  fill: var(--text-color);
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 991px) {
  .data-vis-wrapper {
    flex-direction: column;
  }
}

/* EventList Component */

/* Event Component */

.event {
  padding: 10px 10px 10px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: var(--secondary-color);
}

.show-details-button-div {
  text-align: right;
}

.show-details-button {
  margin: 0;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

.show-details-button:hover {
  background-color:rgb(53, 99, 53);
  cursor: pointer;
}
