.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #4c2f1b;
  left: 0px;
}

.welcome-spacer {
  height: 10px;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

.google-btn {
  background-color: #055A05;
}

.btn-text {
  float: right;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  background-color: #055A05;
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2px;
}

.btn-text:hover {
  box-shadow: 0 0 1px #4285f4;
}

.btn-text:active {
  background: #034103;
}

a {
  color: white;
}

a:visited {
  color: white;
}